@import 'config.css';

.foot-fixed {
  /*position: fixed;
  left: 0;
  bottom: 0;*/
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  /*z-index: 2;*/
  .btn-submit {
    width: 100%;
    height: 42px;
  }
}

.container {
  margin-top: 85px;
}

.btn-lg {
  margin: 40px 0;
}

@media (--sm-viewport) {
  .container {
    margin-top: 0;
  }

  .hsb-button--large {
    width: 100%;
  }
}
