/*
* @Author: tengmaoqing
* @Date:   2018-05-01 18:46:14
* @Last Modified by:   tengmaoqing
* @Last Modified time: 2018-06-21 16:43:08
*/

@import 'config.css';

html, body {
  height: 100%;
  min-height: 100%;
}

.is-bt-border {
  .el-input__inner, .el-input-group__append, .el-input-group__prepend {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #f5f5f5;
  }
  .el-input-group__append, .el-input-group__prepend {
    background-color: #fff;
  }
}

.Rigister, .FindPWD {
  background-color: $global-gray;
}
