/*
* @Author: tengmaoqing
* @Date:   2018-05-02 11:46:49
* @Last Modified by:   tengmaoqing
* @Last Modified time: 2018-05-07 16:46:52
*/
@import 'config.css';

.result {
  margin-top: 80px;
}

.imei-input {
  width: 430px;
  max-width: 100%;
  margin: 10px 0 30px;
}

.hr-l {
  margin: 30px 0;
}

.price {
  margin: 20px 0;
  font-size: $global-main-title-fontsize;
}

@media (--sm-viewport) {
  .container {
    margin-top: 0;
  }

  .imei-input {
    margin: 10px 0 15px;
  }

  .hr-l {
    margin: 15px 0;
  }
}
