@import 'config.css';
/**************** 品牌 ******************/
.models-view {

  width: 1200px;
  margin: 0 auto;
  padding: 0;

  /********************** 搜索********************/
  /deep/ .search-box-wrapper {
    width: 420px;
    margin: 0 auto;
    background-color: #fff;
    .search-box {
      position: relative;
      width: 100%;
      height: 54px;
      margin: 0 auto;
      padding-left: 50px;
      margin-top: 38px;
      margin-bottom: 30px;
      background: #F5F5F5;
      border-radius: 44px;
      .search-icon {
        position: absolute;
        left: 17px;
        top: 50%;
        margin-top: -10px;
      }
    }
  }

  .btm-wrapper {
    height: 50px;
    line-height: 50px;
  }
}


@media screen and (max-width: 998px) {

  .models-view {

    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*padding-top: 60px;*/

    /********************** 搜索********************/
    /deep/ .search-box-wrapper {
      z-index: 15;
      /*position: fixed;*/
      /*left: 0;*/
      width: 100%;
      padding: 0 10px;
      margin: 0 auto;

      &::after {
        content: " ";
        position: absolute;
      }

      .search-box {
        position: relative;
        height: 46px;
        margin: 0 auto;
        padding-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: #F5F5F5;
        border-radius: 44px;
        .search-icon {
          position: absolute;
          left: 17px;
          top: 50%;
          margin-top: -10px;
        }
      }
    }

    /deep/ .model-wraper {
      height: calc(100% - 66px);
    }

  }
}
