/*
* @Author: tengmaoqing
* @Date:   2018-05-01 18:46:14
* @Last Modified by:   tengmaoqing
* @Last Modified time: 2018-05-14 11:16:05
*/

@import 'config.css';

html, body {
  height: 100%;
}

.hbdx {
  .hsb-button--primary {
    color: #fff;
  }

  @media (--sm-viewport) {
    .hsb-button--normal {
      height: 40px;
    }
  }

  .el-input-group__append, .el-input-group__prepend {
    background-color: #fff;
    padding: 0;
    text-align: center;
    width: 40px;
    border: 0;
  }

  .el-input-group--prepend .el-input__inner {
    border-left: 0;
    padding-left: 0;
  }

  .hsb-checkbox {
    color: #fff;
  }

  .hsb-checkbox.is-checked {
    color: #fff;
  }

  .hsb-checkbox.is-checked .hsb-checkbox__inner {
    background-color: #325e9d;
    border-color: #fff;
  }

  .btn-lg {
    width: 197px;
  }

  @media (--sm-viewport) {
    .btn-lg {
      width: 140px;
      height: 40px;
    }
  }

  .actions  {
    .hsb-button {
      display: inline-block;

      &:nth-child(1) {
        margin-right: 35px;
      }

      @media (--sm-viewport) {
        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }

  @media (--sm-viewport) {
    .actions {
      text-align: center;
    }
  }

  .hsb-button--large {
    font-size: $global-secondary-title-fontsize;
  }

  &.Orders {
    height: auto;
    background-color: #f6f6f6;
  }

  &.OrderItem {
    height: auto;
    background-color: #f6f6f6;
  }
}

.login-wrap {
  color: #fff;
}

.imei-input {
  .el-input__inner {
    height: 52px;
    line-height: 52px;
  }

  @media (--sm-viewport) {
    .el-input__inner {
      height: 40px;
    }
  }
}

.select-list {
  width: 100%;
  .select-item {
    width: 33%;
    line-height: 1.8;
    font-size: $global-description;
  }
  @media (--sm-viewport) {
    .select-item {
      width: 100%;
    }
  }
}

.welcome, .Login .login-ww {
  background-image: url('./components/welcome/bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}


/*------------ 机型页面 ------------*/
.hbdx {

  /*机型页面*/
  &.Products {
    @media (--sm-viewport) {
      .header {
        position: fixed;
        display: block;
        width: 100%;
      }
      .crumb-wrapper {
        display: none;
      }
      .pro-list {
        display: none;
      }
    }
  }

  /*搜索*/
  &.search {
    height: auto;
    .search-list {
      display: none;
    }
    @media (--sm-viewport) {
      .header {
        position: fixed;
        display: block;
        width: 100%;
      }
      .crumb-wrapper {
        display: none;
      }
      .icon-close {
        top: 7px;
        right: 5px;
      }
    }
  }

  /*订单列表*/
  &.Orders {
    @media (--sm-viewport) {
      .crumb-list, .crumb-label {
        display: none;
      }
    }
  }

  /*订单详情*/
  &.OrderItem {
    .el-dialog {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 0 0;
      margin-top: 0 !important;
    }
    .cancel-dialog {
      .el-dialog {
        width: 20%;
      }
      .el-dialog__body {
        padding-top: 10px;
      }
    }
    .remark-dialog {
      .el-dialog {
        width: 25%;
      }
      .el-dialog__header {
        padding-left: 30px;
        padding-right: 30px;
      }
      .el-dialog__body {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    @media (--sm-viewport) {
      .crumb-wrapper {
        display: none;
      }
      .el-dialog {
        width: 80%;
        .h-btn {
          padding: 0;
        }
      }
      .el-dialog__body {
        padding-top: 10px;
      }
      .cancel-dialog {
        .el-dialog {
          width: 90%;
        }
        .el-dialog__body {
          padding-top: 10px;
        }
      },
      .remark-dialog {
        .el-dialog {
          width: 90%;
        }
        .el-dialog__header,.el-dialog__body {
          padding-left: 15px;
          padding-right: 15px;
        }
        .el-dialog__body {
          padding-top: 10px;
        }
      }
    }
  }
}

